<input type="text" [(ngModel)]="lname" name="lname" placeholder="Last Name..">
<br>
<input type="text" [(ngModel)]="fname" name="fname" placeholder="First Name..">
<br>
<input type="text" [(ngModel)]="mobile" name="mobile" placeholder="Mobile..">
<br>
<input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone..">
<br>
<input type="text" [(ngModel)]="email" name="email" placeholder="E-mail..">
<br>
<textarea [(ngModel)]="address" name="address" placeholder="Address.."></textarea>
<br>
<input type="submit" value="Add Information" (click)="addPost()">

<ul *ngFor="let Contact of contacts | async">
  <li (click)="getPost(Contact.id)">
    <strong>Last Name</strong> (<a href="#" (click)="deletePost(Contact.id)">delete</a>)
    <br>
    {{Contact.data.lname}}
    <br>
  </li>
  <li (click)="getPost(Contact.id)">
    <strong>First Name</strong> (<a href="#" (click)="deletePost(Contact.id)">delete</a>)
    <br>
    {{Contact.data.fname}}
    <br>
  </li>
  <li (click)="getPost(Contact.id)">
    <strong>Mobile</strong> (<a href="#" (click)="deletePost(Contact.id)">delete</a>)
    <br>
    {{Contact.data.mobile}}
    <br>
  </li>
  <li (click)="getPost(Contact.id)">
    <strong>Phone</strong> (<a href="#" (click)="deletePost(Contact.id)">delete</a>)
    <br>
    {{Contact.data.phone}}
    <br>
  </li>
  <li (click)="getPost(Contact.id)">
    <strong>E-mail</strong> (<a href="#" (click)="deletePost(Contact.id)">delete</a>)
    <br>
    {{Contact.data.email}}
    <br>
  </li>
  <li (click)="getPost(post.id)">
    <strong>Address</strong> (<a href="#" (click)="deletePost(Contact.id)">delete</a>)
    <br>
    {{Contact.data.address}}
    <br>
  </li>
</ul>
 