<h1>Contact Form</h1>

<input type="text" [(ngModel)]="lname" name="lname" placeholder="Last Name..">
<br>
<input type="text" [(ngModel)]="fname" name="fname" placeholder="First Name..">
<br>
<input type="text" [(ngModel)]="mobile" name="mobile" placeholder="Mobile..">
<br>
<input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone..">
<br>
<input type="text" [(ngModel)]="email" name="email" placeholder="E-mail..">
<br>
<textarea [(ngModel)]="address" name="address" placeholder="Address.."></textarea>
<br>
<input type="submit" value="Add Information" (click)="addPost()">


<ul *ngFor="let Contact of contacts | async">
  <li (click)="getPost(Contact.id)">
    <strong>Last Name: </strong> {{Contact.data.lname}} (<a href="#" (click)="deletePost(Contact.id)">delete</a>) 
    <br>
    <strong>First Name: </strong> {{Contact.data.fname}}<br>
    <strong>Mobile: </strong> {{Contact.data.mobile}}<br>
    <strong>Phone: </strong> {{Contact.data.phone}}<br>
    <strong>E-mail</strong>{{Contact.data.email}}<br>
    <strong>Address</strong>{{Contact.data.address}}<br>
  </li>
</ul>
 